 .container-z{
    form{
        p{
            color: red;
        }
        div{
            position: relative;
            i{
                position: absolute;
                right: 30px;
                top: 18px;
                font-size: 18px;
                cursor: pointer;
                
            }
        }
    } 
 }  
